In [1]:
import pandas as pd
from selenium import webdriver
import os
os.chdir("C:\\Users\\KARNDEEP SINGH\\Desktop\\data scraping\\geckodriver-v0.25.0-win64")
browser = webdriver.Firefox("C:\\Users\\KARNDEEP SINGH\\Desktop\\data scraping\\geckodriver-v0.25.0-win64")

In [2]:
from bs4 import BeautifulSoup

In [3]:
master_data ={}
for year in range(2013,2019):
    Average_Temp = []
    Max_Temp = []
    Min_Temp = []
    Atm_Pressure = []
    Average_relative_humidity = []
    Total_rainfall_snowmelt= []
    Average_visibility= []
    Average_wind_speed= []
    Maximum_sustained_wind_speed= []
    for month in range(1,13):
        
        if month<10:
            browser.get("https://en.tutiempo.net/climate/0{}-{}/ws-421820.html".format(month, year))

            html = browser.page_source

            soup = BeautifulSoup(html, "html.parser")

            table = soup.find_all("table")

            row = table[3].select("tr")
            



            if month == 2:
                j = 29
                for i in row[1:j]:
                    Average_Temp.append(i.find_all("td")[1].text.strip())
                    Max_Temp.append(i.find_all("td")[2].text.strip())
                    Min_Temp.append(i.find_all("td")[3].text.strip())
                    Atm_Pressure.append(i.find_all("td")[4].text.strip())
                    Average_relative_humidity.append(i.find_all("td")[5].text.strip())
                    Total_rainfall_snowmelt.append(i.find_all("td")[6].text.strip())
                    Average_visibility.append(i.find_all("td")[7].text.strip())
                    Average_wind_speed.append(i.find_all("td")[8].text.strip())
                    Maximum_sustained_wind_speed.append(i.find_all("td")[9].text.strip())
                    
            elif month == 4 or month == 6 or month == 9:
                for i in row[1:31]:
                    Average_Temp.append(i.find_all("td")[1].text.strip())
                    Max_Temp.append(i.find_all("td")[2].text.strip())
                    Min_Temp.append(i.find_all("td")[3].text.strip())
                    Atm_Pressure.append(i.find_all("td")[4].text.strip())
                    Average_relative_humidity.append(i.find_all("td")[5].text.strip())
                    Total_rainfall_snowmelt.append(i.find_all("td")[6].text.strip())
                    Average_visibility.append(i.find_all("td")[7].text.strip())
                    Average_wind_speed.append(i.find_all("td")[8].text.strip())
                    Maximum_sustained_wind_speed.append(i.find_all("td")[9].text.strip())
                
                
            else:
                for i in row[1:32]:
                    Average_Temp.append(i.find_all("td")[1].text.strip())
                    Max_Temp.append(i.find_all("td")[2].text.strip())
                    Min_Temp.append(i.find_all("td")[3].text.strip())
                    Atm_Pressure.append(i.find_all("td")[4].text.strip())
                    Average_relative_humidity.append(i.find_all("td")[5].text.strip())
                    Total_rainfall_snowmelt.append(i.find_all("td")[6].text.strip())
                    Average_visibility.append(i.find_all("td")[7].text.strip())
                    Average_wind_speed.append(i.find_all("td")[8].text.strip())
                    Maximum_sustained_wind_speed.append(i.find_all("td")[9].text.strip())
                

        else:
            browser.get("https://en.tutiempo.net/climate/{}-{}/ws-421820.html".format(month, year))

            html = browser.page_source

            soup = BeautifulSoup(html, "html.parser")

            table = soup.find_all("table")

            row = table[3].select("tr")
            if month == 11:
                 for i in row[1:31]:
                    Average_Temp.append(i.find_all("td")[1].text.strip())
                    Max_Temp.append(i.find_all("td")[2].text.strip())
                    Min_Temp.append(i.find_all("td")[3].text.strip())
                    Atm_Pressure.append(i.find_all("td")[4].text.strip())
                    Average_relative_humidity.append(i.find_all("td")[5].text.strip())
                    Total_rainfall_snowmelt.append(i.find_all("td")[6].text.strip())
                    Average_visibility.append(i.find_all("td")[7].text.strip())
                    Average_wind_speed.append(i.find_all("td")[8].text.strip())
                    Maximum_sustained_wind_speed.append(i.find_all("td")[9].text.strip())
                    
                    
                    
            else:
                for i in row[1:32]:
                    Average_Temp.append(i.find_all("td")[1].text.strip())
                    Max_Temp.append(i.find_all("td")[2].text.strip())
                    Min_Temp.append(i.find_all("td")[3].text.strip())
                    Atm_Pressure.append(i.find_all("td")[4].text.strip())
                    Average_relative_humidity.append(i.find_all("td")[5].text.strip())
                    Total_rainfall_snowmelt.append(i.find_all("td")[6].text.strip())
                    Average_visibility.append(i.find_all("td")[7].text.strip())
                    Average_wind_speed.append(i.find_all("td")[8].text.strip())
                    Maximum_sustained_wind_speed.append(i.find_all("td")[9].text.strip())




    data= pd.DataFrame({"Average_Temp":Average_Temp, "Max_Temp": Max_Temp, "Min_Temp" : Min_Temp,"Atm_Pressure":Atm_Pressure, "Average_relative_humidity(%)": Average_relative_humidity, "Total_rainfall_snowmelt(mm)":Total_rainfall_snowmelt, "Average_visibility": Average_visibility, "Average_wind_speed": Average_wind_speed, "Maximum_sustained_wind_speed": Maximum_sustained_wind_speed})
    master_data[year] = data

In [4]:
master_data

{2013:     Average_Temp Max_Temp Min_Temp Atm_Pressure Average_relative_humidity(%)  \
 0            9.1     15.3        4       1015.6                           90
 1            7.4      9.8      4.8       1017.6                           93
 2            7.8     12.7      4.4       1018.5                           87
 3
 4
 ..           ...      ...      ...          ...                          ...
 360         11.9     17.1      6.5       1018.6                           84
 361
 362
 363
 364         14.3     19.2     10.9       1020.5                           91

     Total_rainfall_snowmelt(mm) Average_visibility Average_wind_speed  \
 0                             0                0.5                  0
 1                             0                0.5                4.3
 2                             0                0.6                4.4
 3
 4
 ..                          ...                ...                ...
 360                        0.25                1.1                1.1
 361
 362
 363
 364                         6.1                1.6                4.8

     Maximum_sustained_wind_speed
 0                              -
 1                            9.4
 2                           11.1
 3
 4
 ..                           ...
 360                          5.4
 361
 362
 363
 364                         11.1

 [365 rows x 9 columns],
 2014:     Average_Temp Max_Temp Min_Temp Atm_Pressure Average_relative_humidity(%)  \
 0           13.2     18.2      9.2         1021                           92
 1           11.1     18.3        5       1020.2                           80
 2           12.7     19.8      5.2       1017.9                           78
 3
 4
 ..           ...      ...      ...          ...                          ...
 360         10.4     19.2      4.8       1018.6                           71
 361
 362
 363
 364            -        -        -            -                            -

     Total_rainfall_snowmelt(mm) Average_visibility Average_wind_speed  \
 0                             0                0.8                7.6
 1                             0                1.1                  8
 2                             0                1.3                5.4
 3
 4
 ..                          ...                ...                ...
 360                           0                0.8                2.8
 361
 362
 363
 364                           -                  -                  -

     Maximum_sustained_wind_speed
 0                           11.1
 1                           14.8
 2                           14.8
 3
 4
 ..                           ...
 360                         11.1
 361
 362
 363
 364                            -

 [365 rows x 9 columns],
 2015:     Average_Temp Max_Temp Min_Temp Atm_Pressure Average_relative_humidity(%)  \
 0           14.9     21.6      8.8       1017.4                           76
 1           14.7     21.6     10.2       1018.1                           97
 2             15     16.8     13.6       1017.5                           94
 3
 4
 ..           ...      ...      ...          ...                          ...
 360         16.3     22.5      7.6       1020.6                           64
 361
 362
 363
 364            -        -        -            -                            -

     Total_rainfall_snowmelt(mm) Average_visibility Average_wind_speed  \
 0                             0                0.8                0.9
 1                          5.08                0.6                3.1
 2                          7.11                0.5                0.9
 3
 4
 ..                          ...                ...                ...
 360                           0                1.4                8.1
 361
 362
 363
 364                           -                  -                  -

     Maximum_sustained_wind_speed
 0                            7.6
 1                            9.4
 2                            7.6
 3
 4
 ..                           ...
 360                         14.8
 361
 362
 363
 364                            -

 [365 rows x 9 columns],
 2016:     Average_Temp Max_Temp Min_Temp Atm_Pressure Average_relative_humidity(%)  \
 0           16.9     25.1      6.6       1021.3                           65
 1           15.5     24.1      7.7         1021                           71
 2           14.9     22.8        8       1018.4                           73
 3
 4
 ..           ...      ...      ...          ...                          ...
 360         16.3     23.4        9       1017.3                           68
 361
 362
 363
 364            -        -        -            -                            -

     Total_rainfall_snowmelt(mm) Average_visibility Average_wind_speed  \
 0                             0                1.1                  2
 1                             0                1.1                3.5
 2                             0                1.1                5.9
 3
 4
 ..                          ...                ...                ...
 360                           0                1.3                7.8
 361
 362
 363
 364                           -                  -                  -

     Maximum_sustained_wind_speed
 0                            7.6
 1                           11.1
 2                             13
 3
 4
 ..                           ...
 360                         18.3
 361
 362
 363
 364                            -

 [365 rows x 9 columns],
 2017:     Average_Temp Max_Temp Min_Temp Atm_Pressure Average_relative_humidity(%)  \
 0           15.6       23        9       1016.4                           87
 1           17.4       24      9.3       1018.9                           81
 2           16.7     24.3      9.5         1018                           82
 3
 4
 ..           ...      ...      ...          ...                          ...
 360         15.1       25      7.6       1017.1                           71
 361
 362
 363
 364            -        -        -            -                            -

     Total_rainfall_snowmelt(mm) Average_visibility Average_wind_speed  \
 0                             0                1.3                2.4
 1                             0                1.3                2.2
 2                             0                  1                4.1
 3
 4
 ..                          ...                ...                ...
 360                           0                1.3                3.5
 361
 362
 363
 364                           -                  -                  -

     Maximum_sustained_wind_speed
 0                           11.1
 1                            9.4
 2                             13
 3
 4
 ..                           ...
 360                           13
 361
 362
 363
 364                            -

 [365 rows x 9 columns],
 2018:     Average_Temp Max_Temp Min_Temp Atm_Pressure Average_relative_humidity(%)  \
 0           12.2     23.9      5.7       1014.5                           88
 1           11.8     20.1      8.4       1015.3                           89
 2           11.3     18.2      6.7       1015.6                           85
 3
 4
 ..           ...      ...      ...          ...                          ...
 360         11.6     21.4      3.4       1017.1                           76
 361
 362
 363
 364           12     22.9      3.8       1021.2                           73

     Total_rainfall_snowmelt(mm) Average_visibility Average_wind_speed  \
 0                             0                0.3                0.7
 1                             0                0.3                2.8
 2                             0                0.6                3.5
 3
 4
 ..                          ...                ...                ...
 360                           0                1.1                2.4
 361
 362
 363
 364                           0                0.8                4.8

     Maximum_sustained_wind_speed
 0                            5.4
 1                            9.4
 2                            9.4
 3
 4
 ..                           ...
 360                          5.4
 361
 362
 363
 364                         25.9

 [365 rows x 9 columns]}

In [5]:
bigdata = pd.concat([master_data[i] for i in master_data], axis = 0)

In [6]:
bigdata.head()

,Average_Temp,Max_Temp,Min_Temp,Atm_Pressure,Average_relative_humidity(%),Total_rainfall_snowmelt(mm),Average_visibility,Average_wind_speed,Maximum_sustained_wind_speed
0,9.1,15.3,4,1015.6,90,0,0.5,0,-
1,7.4,9.8,4.8,1017.6,93,0,0.5,4.3,9.4
2,7.8,12.7,4.4,1018.5,87,0,0.6,4.4,11.1
3,,,,,,,,,
4,,,,,,,,,

In [7]:
bigdata.shape

(2190, 9)

In [8]:
bigdata

,Average_Temp,Max_Temp,Min_Temp,Atm_Pressure,Average_relative_humidity(%),Total_rainfall_snowmelt(mm),Average_visibility,Average_wind_speed,Maximum_sustained_wind_speed
0,9.1,15.3,4,1015.6,90,0,0.5,0,-
1,7.4,9.8,4.8,1017.6,93,0,0.5,4.3,9.4
2,7.8,12.7,4.4,1018.5,87,0,0.6,4.4,11.1
3,,,,,,,,,
4,,,,,,,,,
...,...,...,...,...,...,...,...,...,...
360,11.6,21.4,3.4,1017.1,76,0,1.1,2.4,5.4
361,,,,,,,,,
362,,,,,,,,,
363,,,,,,,,,
364,12,22.9,3.8,1021.2,73,0,0.8,4.8,25.9

In [9]:
from AQI import avg_data_2013, avg_data_2014, avg_data_2015, avg_data_2016, avg_data_2017, avg_data_2018

In [10]:
data_2013 = pd.Series(avg_data_2013())
data_2014 = pd.Series(avg_data_2014())
data_2015 = pd.Series(avg_data_2015())
data_2016 = pd.Series(avg_data_2016())
data_2017 = pd.Series(avg_data_2017())
data_2018 = pd.Series(avg_data_2018())

In [11]:
pm = pd.concat([data_2013, data_2014, data_2015, data_2016, data_2017, data_2018], axis = 0, ignore_index = True)

In [12]:
pm

0       284.795833
1       219.720833
2       182.187500
3       115.287500
4         0.000000
           ...
2183    223.250000
2184    248.958333
2185    441.416667
2186    237.791667
2187    334.875000
Length: 2188, dtype: float64

In [13]:
bigdata["PM2.5"] = pm

In [14]:
bigdata

,Average_Temp,Max_Temp,Min_Temp,Atm_Pressure,Average_relative_humidity(%),Total_rainfall_snowmelt(mm),Average_visibility,Average_wind_speed,Maximum_sustained_wind_speed,PM2.5
0,9.1,15.3,4,1015.6,90,0,0.5,0,-,284.795833
1,7.4,9.8,4.8,1017.6,93,0,0.5,4.3,9.4,219.720833
2,7.8,12.7,4.4,1018.5,87,0,0.6,4.4,11.1,182.187500
3,,,,,,,,,,115.287500
4,,,,,,,,,,0.000000
...,...,...,...,...,...,...,...,...,...,...
360,11.6,21.4,3.4,1017.1,76,0,1.1,2.4,5.4,186.041667
361,,,,,,,,,,185.583333
362,,,,,,,,,,114.083333
363,,,,,,,,,,140.458333
364,12,22.9,3.8,1021.2,73,0,0.8,4.8,25.9,108.083333

In [15]:
import numpy as np

In [16]:
bigdata[bigdata.loc[:,:].isin(["","-"])] = np.nan

In [17]:
final_data= bigdata.dropna()

In [18]:
final_data.reset_index(inplace = True)

In [23]:
final_data.drop("index", axis = 1, inplace= True)

C:\Users\KARNDEEP SINGH\Anaconda3\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [24]:
final_data

,Average_Temp,Max_Temp,Min_Temp,Atm_Pressure,Average_relative_humidity(%),Total_rainfall_snowmelt(mm),Average_visibility,Average_wind_speed,Maximum_sustained_wind_speed,PM2.5
0,7.4,9.8,4.8,1017.6,93,0,0.5,4.3,9.4,219.720833
1,7.8,12.7,4.4,1018.5,87,0,0.6,4.4,11.1,182.187500
2,6.7,13.4,2.4,1019.4,82,0,0.6,4.8,11.1,154.037500
3,8.6,15.5,3.3,1018.7,72,0,0.8,8.1,20.6,223.208333
4,12.4,20.9,4.4,1017.3,61,0,1.3,8.7,22.2,200.645833
...,...,...,...,...,...,...,...,...,...,...
1023,11.3,22.3,4.7,1017.7,82,0,1.1,3,3.5,288.416667
1024,12.3,19.4,6.2,1016.8,80,0,1.3,6.7,25.9,166.916667
1025,11.1,20.6,3.6,1015.7,76,0,1.3,3,9.4,169.000000
1026,11.6,21.4,3.4,1017.1,76,0,1.1,2.4,5.4,186.041667
1027,12,22.9,3.8,1021.2,73,0,0.8,4.8,25.9,108.083333

In [26]:
writer = pd.ExcelWriter("final_data_aqi.xlsx")
final_data.to_excel(writer)
writer.save()

In [25]:
final_data.to_csv("C:\\Users\\KARNDEEP SINGH\\Desktop\\data scraping\\final_Aqi_data.csv")

In [20]:
# data.to_csv("C:\\Users\\KARNDEEP SINGH\\Desktop\\data scraping\\AQI_scrappeddata.csv")

In [21]:
# bigdata.to_csv("C:\\Users\\KARNDEEP SINGH\\Desktop\\data scraping\\AQI_data.csv")

In [22]:
# browser.get("https://en.tutiempo.net/climate/01-2013/ws-421820.html")

# html = browser.page_source

# soup = BeautifulSoup(html, "html.parser")

# table = soup.find_all("table")

# row = table[3].select("tr")


# Average_Temp = []
# Max_Temp = []
# Min_Temp = []
# Atm_Pressure = []
# Average_relative_humidity = []
# Total_rainfall_snowmelt= []
# Average_visibility= []
# Average_wind_speed= []
# Maximum_sustained_wind_speed= []

# for i in row[1:32]:
#     Average_Temp.append(i.find_all("td")[1].text.strip())
#     Max_Temp.append(i.find_all("td")[2].text.strip())
#     Min_Temp.append(i.find_all("td")[3].text.strip())
#     Atm_Pressure.append(i.find_all("td")[4].text.strip())
#     Average_relative_humidity.append(i.find_all("td")[5].text.strip())
#     Total_rainfall_snowmelt.append(i.find_all("td")[6].text.strip())
#     Average_visibility.append(i.find_all("td")[7].text.strip())
#     Average_wind_speed.append(i.find_all("td")[8].text.strip())
#     Maximum_sustained_wind_speed.append(i.find_all("td")[9].text.strip())
# data= pd.DataFrame({"Average_Temp":Average_Temp, "Max_Temp": Max_Temp, "Min_Temp" : Min_Temp,"Atm_Pressure":Atm_Pressure, "Average_relative_humidity(%)": Average_relative_humidity, "Total_rainfall_snowmelt(mm)":Total_rainfall_snowmelt, "Average_visibility": Average_wind_speed, "Maximum_sustained_wind_speed": Maximum_sustained_wind_speed})    
# data